<% if @user.image.present? %>
  <%= image_tag @user.image.url , width: '300px' %>
<% else %>
  <%= image_tag "no_image.png" %>
<% end %>
<table class='table alt-table-responsive'>
  <tbody>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <td><%= @user.name %></td>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <td><%= @user.email %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'アカウント変更', edit_user_path(@user), class: 'btn btn-primary' %>
