<h1>投稿一覧</h1>
<% if @posts&.count==0 %>
  <p>投稿はまだありません。</p>
<% else %>
  <table class='table table-responsive-xs'>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= User.find_by(id: post.user_id).name %></td>
        </tr>
        <tr>
          <td><%= post.content %></td>
        </tr>
        <tr>
          <td><%= image_tag(post.image.url) if post.image && post.image.url %></td>
        </tr>
        <tr>
          <% if User.find_by(id: post.user_id).name == current_user.name %>
            <td class='text-right'>
              <%= link_to '編集', edit_post_path(post), class: 'btn btn-info mr-3' %>
              <%= link_to '削除', post, method: :delete, data: { confirm: "こちらの投稿を削除します。よろしいですか？" }, class: 'btn btn-info' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
