<% if @posts&.count==0 %>
  <p>投稿はまだありません。</p>
<% else %>
  <table class='table table-responsive-xs'>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= User.find_by(id: post.user_id).name %></td>
        </tr>
        <tr>
          <td><%= image_tag(post.image.url) if post.image && post.image.url %></td>
        </tr>
        <tr>
          <td><%= simple_format(h(post.content), {}, sanitize: false, wrapper_tag: "div") %></td>
        </tr>
        <tr>
          <% if post.user_id==current_user.id %>
            <td class='text-right'>
              <%= link_to '詳細', post_path(post), class: 'btn btn-info mr-3' %>
              <%= link_to '編集', edit_post_path(post), class: 'btn btn-info mr-3' %>
              <%= link_to '削除', post, method: :delete, data: { confirm: "こちらの投稿を削除します。よろしいですか？" }, class: 'btn btn-info' %>
            </td>
          <% else %>
            <td>
              <% if current_user.favorites.find_by(post_id: post.id).present? %>
                <%= link_to 'お気に入り解除する', favorite_path(id: post.id), method: :delete, class: 'btn btn-danger' %>
              <% else %>
                <%= link_to 'お気に入りする', favorites_path(post_id: post.id), method: :post, class: 'btn btn-primary' %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
