<h1>新規作成</h1>
<% if @post.errors.present? %>
  <ul id='error_explanation'>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post, local: true, url: confirm_posts_path do |p| %>
  <div class='form-group'>
    <%= p.label :content %>
    <%= p.text_area :content, row: 5, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= p.label :image %>
    <%= p.file_field :image, class: 'form-control' %>
    <%= p.hidden_field :image_cache %>
  </div>
  <%= p.submit '確認', class: 'btn btn-primary' %>
<% end %>
